@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
html {
  background-color: #fff;
}

body {
  font: 14px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.menu {
  text-align: center;
  padding-top: 25px;
  margin-bottom: 50px;
}

.menu .arrow {
  opacity: 0.4;
}

.arrow.up,
.arrow.down {
  display: none;
  margin: 20px 0;
}

.menu h1 {
  margin-top: 0;
  font: normal 32px/1.5 'Open Sans', sans-serif;
  color: #3F71AE;
  padding-bottom: 16px;
}

.menu h2 {
  color: rgb(0, 2, 100);
  font-size: 15px;
}

.menu h2 a {
  color:rgb(50, 52, 156);
  text-decoration: none;
  display: inline-block;
  border: 1px solid rgb(50, 52, 156);
  padding: 10px 15px;
  border-radius: 3px;
  font: bold 12px/1 'Open Sans', sans-serif;
  text-transform: uppercase;
}


.menu h2 a:hover {
  background-color: rgb(50, 52, 156);
  transition: 0.2s;
  color: rgb(255, 255, 255);
}

.menu h2 a.alert {
  color:rgb(180, 65, 94);
  text-decoration: none;
  display: inline-block;
  border: 1px solid rgb(180, 65, 94);
  padding: 10px 15px;
  border-radius: 3px;
  font: bold 12px/1 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.menu h2 a.alert:hover {
  background-color: rgb(180, 65, 94);
  transition: 0.2s;
  color: rgb(255, 255, 255);
}

.main-container {
  margin-left: 300px;
  margin-right:300px;
  max-width: 75%;
  margin-bottom:100px;
  /* background-color: #0000006c; */
}

@media (max-height:800px) {}

@media (max-width: 900px) {
  .menu {
    padding-top: 40px;
    margin-bottom: 80px;
  }
  .arrow.left,
  .arrow.right {
    display: none;
  }
  .arrow.up,
  .arrow.down {
    display: inline-block;
  }
}
/* -- Demo ads -- */

@media (max-width: 1200px) {
  #bsaHolder {
    display: none;
  }

  .main-container {
    margin-left: 300px;
    margin-right:100px;
    /* background-color: #0000006c; */
  }

  .main-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    padding-top: 40px;
    padding-right: 200px;
    margin: 0 0 40px 200px;
  }
}
/* -- Link to Tutorialzine -- */

.tz-link {
  text-decoration: none;
  color: #fff !important;
  font: bold 36px Arial, Helvetica, sans-serif !important;
}

.tz-link span {
  color: #da431c;
}

/* The main content */
.main-content {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 50%;
  padding-top: 40px;
  padding-left: 200px;
  margin: 0 0 40px 260px;
}
/* The left-collapsing sidebar */


/* 사이드바 배경색 */
.sidebar-left-collapse {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #95a6b9;
  width: 200px;
  height: 100%;
  padding: 20px 0;
}

/* 로고 배경색 */
.sidebar-left-collapse > a {
  display: block;
  text-decoration: none;
  font-family: Cookie, cursive;
  width: 122px;
  height: 122px;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  font-size: 44px;
  font-weight: normal;
  line-height: 2.6;
  border-radius: 50%;
  background-color: #1cbb9b;
}

.sidebar-left-collapse .sidebar-links {
  margin: 30px auto;
}

/* 선택된 메뉴색 */
.sidebar-links div > a {
  display: block;
  text-decoration: none;
  margin: 0 auto 5px auto;
  padding: 10px 0 10px 5px;
  background-color: #35393e;
  text-align: left;
  color: #b3bcc5;
  font-size: 12px;
  font-weight: bold;
  line-height: 2;
  border-left-width: 2px;
  border-left-style: solid;
}

.sidebar-links div.selected > a {
  background-color: #ffffff;
  color: #565d63;
  line-height: 2.3;
  margin: 0;
}

.sidebar-links div > a i.fa {
  position: relative;
  font-size: 20px;
  top: 3px;
  width: 40px;
  text-align: center;
}

.sidebar-links div ul.sub-links {
  max-height: 0;
  overflow: hidden;
  list-style: none;
  padding: 0 0 0 10px;
  color: #b3bcc5;
  
  font-size: 12px;
  font-weight: bold;
  line-height: 35px;
  margin: 0;
  transition: 0.4s;
}

.sidebar-links div.selected ul.sub-links {
  max-height: 200px;
  padding: 12px 0 12px 10px;
}

.sidebar-links div .sub-links a {
  text-decoration: none;
  color: #000000;
  display: block;
  text-align: left;
}
/* Link Colors */

.sidebar-links div.link-blue > a {
  border-color: #487db2;
}

.sidebar-links div.link-blue > a i.fa {
  color: #487db2;
}

.sidebar-links div.link-red > a {
  border-color: #da4545;
}

.sidebar-links div.link-red > a i.fa {
  color: #da4545;
}

.sidebar-links div.link-yellow > a {
  border-color: #d0d237;
}

.sidebar-links div.link-yellow > a i.fa {
  color: #d0d237;
}

.sidebar-links div.link-green > a {
  border-color: #86be2e;
}

.sidebar-links div.link-green > a i.fa {
  color: #86be2e;
}
/* Making the sidebar responsive */

@media (max-width: 900px) {
  .main-content {
    max-width: none;
    padding: 70px 20px;
    margin: 0 0 40px;
  }
  .sidebar-left-collapse {
    width: auto;
    height: auto;
    position: static;
    padding: 20px 0 0;
  }
  .sidebar-left-collapse .sidebar-links {
    text-align: center;
    margin: 20px auto 0;
  }
  .sidebar-links div {
    display: inline-block;
    width: 100px;
  }
  .sidebar-links div > a {
    text-align: center;
    margin: 0;
    padding: 10px 0;
    border-left: none;
    border-top-width: 2px;
    border-top-style: solid;
  }
  .sidebar-links div > a i.fa {
    display: block;
    margin: 0 auto 5px;
  }
  .sidebar-links div ul.sub-links {
    display: none;
  }
  .sidebar-links div.selected .sub-links {
    display: block;
    position: absolute;
    text-align: center;
    width: auto;
    left: 0;
    right: 0;
  }
  .sidebar-links div.selected .sub-links li {
    display: inline-block;
  }
  .sidebar-links div.selected .sub-links a {
    display: inline-block;
    margin-right: 20px;
    font-size: 13px;
    color: #748290;
  }
  .main-container {
    margin-left: 0;
    margin-right:0;
    min-width: 100%;
    /* background-color: #0000006c; */
  }
}
/* Smartphone version */

@media (max-width: 450px) {
  .menu {
    text-align: center;
    padding-top: 25px;
    margin-bottom: 20px;
  }
  .main-content {
    padding: 30px 20px 0;
    margin:20px;
  }
  .sidebar-left-collapse {
    padding: 20px 0;
  }
  .sidebar-left-collapse .sidebar-links {
    text-align: center;
    margin: 20px auto 0;
    position: relative;
  }
  .sidebar-links div {
    display: block;
    width: 240px;
    margin: 0 auto 5px;
  }
  .sidebar-links div > a {
    text-align: left;
    padding: 10px 25px;
    vertical-align: middle;
    border-top: none;
    border-left-width: 2px;
    border-left-style: solid;
  }
  .sidebar-links div > a i.fa {
    display: inline-block;
    font-size: 20px;
    width: 20px;
    margin: 0 20px 0 0;
  } 
  .sidebar-links div.selected .sub-links {
    bottom: -90px;
  }

}
/*	Removing margins and paddings from the body, so that
    the sidebar takes the full height of the page */

body {
  margin: 0;
  padding: 0;
}



